<div class="content-wrapper">
	<footer class="bg-dark text-light py-4 mt-5 footerstyle">
		<div class="container text-center">
			<p class="mb-0">&copy;
				{{ "now"|date("Y") }}
				My Symfony App. All rights reserved.</p>
		</div>
	</footer>
</div>
